html,
body {
    font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
        "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
    color: #111827;
    background: #fff;
    min-width: 360px;
    height: 560px;
    margin: 0;
    padding: 0;
    font-size: 13.33px;
}

.sub-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.sub-header .title {
    font-weight: 700;
}

.sub-header .spacer {
    width: 36px;
}

.icon-btn {
    height: 36px;
    width: 36px;
    display: grid;
    place-items: center;
    border: none;
    background: #f3f4f6;
    border-radius: 9999px;
    cursor: pointer;
}

.icon-btn.icon-btn-small {
    height: 30px;
    width: 30px;
}

.icon-btn:hover {
    background: #e5e7eb;
}

.icon-btn.nohover:hover {
    background: #f3f4f6;
    cursor: auto;
}

@media screen and (max-width: 360px) {
    .icon-btn.expand-icon {
        display: grid;
    }
}

@media screen and (min-width: 361px) {
    .icon-btn.expand-icon {
        display: none;
    }
}


.icon {
    width: 20px;
    height: 20px;
}


.res-icon {
    width: 50px;
    height: 50px;
}

button {
    font-family: inherit;
}

.secondary {
    border: none;
    height: 30px;
    border-radius: 9999px;
    background: #e5ecf7;
    color: #111827;
    cursor: pointer;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}

.primary {
    width: 100%;
    border: none;
    height: 44px;
    border-radius: 9999px;
    background: #e5ecf7;
    color: #111827;
    cursor: pointer;
    font-weight: 600;
}

.primary:hover:not(:disabled) {
    background: #dbe6f5;
}


.primary:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.danger {
    margin-top: 16px;
    width: 100%;
    height: 44px;
    border-radius: 12px;
    border: 1px solid #fecaca;
    background: #fff5f5;
    color: #b91c1c;
    font-weight: 700;
    cursor: pointer;
}

.readonly {
    pointer-events: none;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 4px;
    /* spacing between label, sublabel, and input */
    padding: 10px 0;
}

.form-buttons {
    padding: 20px 0;
}

.label {
    font-weight: 600;
    color: #111827;
    padding-left: 5px;
}

.sublabel {
    font-size: 12.5px;
    color: #6b7280;
    padding-left: 5px;
}

.input,
.select,
.textarea {
    padding: 6px 10px;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    background: #fff;
    outline: none;
    color: #111827;
}

.error-message {
    color: #b91c1c;
    padding-left: 5px;
}

.input {
    height: 25px;
}

.select {
    height: 39px;
}

.textarea {
    height: 100px;
    resize: vertical;
}

.input:focus,
.select:focus,
.textarea:focus {
    border-color: #93c5fd;
}

.list-header {
    font-size: 14px;
    padding: 10px 5px 10px 5px;
    font-weight: bold;

}